@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center mt-5">
    <div class="row featurette">
        <div class="col-md-7 order-md-2 mb-3">
            <h1 class="featurette-heading">Улучшите отслеживание времени</h1>
            <p class="lead">TmTracker автоматизирует учет рабочего времени компании, чтобы вы и ваша команда могли сосредоточиться на важной работе.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/LoginFile/images/monitor4.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><img />
        </div>
    </div>
</div>
