@model TMS_DotNet02_Online_Kaloska.TmTracker.Web.ViewModels.LoginViewModel
@section css
{
    <link rel="icon" type="image/png" asp-append-version="true" href="~/LoginFile/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/LoginFile/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/LoginFile/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/LoginFile/vendor/animate/animate.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/LoginFile/vendor/css-hamburgers/hamburgers.min.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/LoginFile/vendor/animsition/css/animsition.min.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/LoginFile/vendor/select2/select2.min.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/LoginFile/vendor/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/LoginFile/css/util.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/LoginFile/css/main.css" />
    <style>
        .validation-summary-errors {
            margin: 4px;
            padding: 10px;
        }
    </style>
}
<div class="container-login100">
    <div class="wrap-login100 p-t-30 p-b-50">
        <span class="login100-form-title text-black p-b-41">Вход в приложение</span>
        <form method="post" translate="yes" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl" class="login100-form validate-form p-b-20 p-t-5">
            <div asp-validation-summary="ModelOnly" style="margin: 4px;padding: 10px;" translate="yes"></div>
            <div class="wrap-input100 validate-input" data-validate="Enter username">
                <input asp-for="Email" class="input100" type="text" placeholder="Email">
                <span asp-validation-for="Email" class="focus-input100" data-placeholder="&#xe82a;"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <input asp-for="Password" class="input100" type="password" name="Password" placeholder="Password">
                <span asp-validation-for="Password" class="focus-input100" data-placeholder="&#xe80f;"></span>
            </div>

            <div class="container-login100-form-btn m-t-32">
                <button type="submit" class="login100-form-btn">Войти</button>
            </div>

        </form>
    </div>
</div>
@section Scripts
{
    <script src="~/LoginFile/js/main.js"></script>
    <script src="~/LoginFile/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/LoginFile/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/LoginFile/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/LoginFile/vendor/select2/select2.min.js"></script>
    <script src="~/LoginFile/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/LoginFile/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/LoginFile/vendor/countdowntime/countdowntime.js"></script>
}
