@{
    Layout = null;
}
<div class="modal-body m-auto">
    <div class="m-auto">
        <h4>Проект успешно добавлен</h4>
    </div>
    <button id="close" class="btn btn-outline-success m-auto" data-dismiss="modal" aria-hidden="true">Закрыть</button>
</div>

<script>
    $(close).click(function () {
        location.reload();
    });
</script>
