@model ProjectViewModel
<h2>Добавление нового проекта</h2>
<form method="post" asp-controller="Project" asp-action="AddProject">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" required />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="IsFavourite"></label><br />
        <input asp-for="IsFavourite" />
        <span asp-validation-for="IsFavourite"></span>
    </div>
    <div>
        <input class="bg-dark" type="submit" value="Добавить Проект" />
    </div>
</form>
