@model ProjectViewModel

<div class="modal-header">
    <h3 id="myModalLabel">Добавление проекта</h3>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>

<div class="modal-body">
    <form class="modal-form" method="post" asp-controller="Project" asp-action="AddProject">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Name"></label><br />
            <input asp-for="Name" required />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="IsFavourite"></label><br />
            <input asp-for="IsFavourite" />
            <span asp-validation-for="IsFavourite"></span>
        </div>
        <div>
            <input class="btn btn-outline-success" type="submit" value="Добавить Проект" />
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
        </div>
    </form>
</div>

