.isfavt {
    background-image: url(../LoginFile/images/icons/premium-icon-star-3119401.png);
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-left: 15px;
}

.isfavf {
    background-image: url(../LoginFile/images/icons/free-icon-star-126482.png);
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-left: 15px;
}
