.homeblock {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-left: 5px;
    box-shadow: 1px 0px 20px 3px #6c757d;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around; 
    /* border: 2px solid black; */
    /* border-radius: 59px; */
    margin-bottom: 10px;
}


@media (min-width: 992px) {
    .homeblock {
        max-width: 31%;
    }
}
.right-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    border: 2px solid black;
    border-radius: 2px;
    display: none;
    color: black;
}
    .right-menu:hover {
        background: #6feeee;
        cursor: default
    }

    .right-menu-active {
        display: block;
    }